.perguntaCont {
	margin: 0 auto;
	width: 900px;
}
		
.perguntaCont h1{
	font: bold 25px Verdana, Tahoma, Arial;
	border-bottom: 2px dotted #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.perguntaCont form div {
	
	margin-bottom: 10px;
}